.home
  a href='admins/sign_in' Admin Login
  .home-banner
    h2 CS61A Lab Assistant Homepage

  .information
    .container
      .row
        .about
          .content
            .heading Teaching Assistant Creation
          p
            = form_for(@teachingassistant) do |f|
              p First Name:
              = f.text_field :first_name, required: ""
              p Last Name:
              = f.text_field :last_name, required: ""
              p Email
              = f.email_field :email, required: ""
              p
              = f.submit
        .about
          .content
            .heading Lab Assistant Creation
          p
            = form_for(@labassistant) do |f|
              p First Name:
              = f.text_field :first_name, required: ""
              p Last Name:
              = f.text_field :last_name, required: ""
              p Email
              = f.email_field :email, required: ""
              p
              = f.submit
  hr