<br>
<br>

Check in forms: 
<br><br>

<% @forms.each do |f| %>
 <%= f.name %>
 <%= f.SID %>
 <%= f.event %>
 <%= link_to 'See form', check_in_form_path(f) %>
 <br>
<% end %>

<br>

<a href='/check_in_forms/new'> Create a Check In Form </a>