<nav class="navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav"> 
    <li> 
      <a href="/lab_assistants/dashboard">Lab Assistant Dashboard Menu</a>    
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right"> 
    <li>
      <%= link_to "Log Out", destroy_lab_assistant_session_path, method: :delete, class: "logout" %>
    </li>
  </ul>